<h2>Manage Phrases</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda unde necessitatibus porro voluptatum nihil commodi
    provident quia consequatur facere, vitae earum libero officiis iusto, tempore ea quibusdam harum nobis aliquam.
    Quidem labore consectetur porro aperiam dolores nostrum veniam. Dolorem quisquam quo consectetur hic assumenda
    mollitia error, excepturi natus ea ipsam labore rem eius provident accusamus quibusdam iure nobis ipsum inventore
    odit accusantium rerum obcaecati saepe. Asperiores animi quos rem veritatis impedit vitae enim facere! Cumque
    veritatis, aperiam asperiores repellendus earum a. Provident labore autem magnam, impedit quisquam iusto quo nostrum
    ipsum temporibus eligendi, ullam nemo harum et adipisci sint nulla dicta saepe quaerat minima incidunt sed
    voluptates molestiae tempore. Praesentium, molestiae. Nulla non aliquid recusandae animi id fugit dolorem, porro
    rerum laborum nesciunt commodi. Doloribus, velit est, harum delectus quo corrupti deleniti magnam quasi, eligendi
    illum suscipit molestiae. Sapiente voluptatem voluptatibus atque commodi quaerat magnam enim nostrum dolorem
    repellendus laudantium quod similique minus soluta dignissimos sequi, nesciunt quasi laborum repudiandae perferendis
    explicabo, illum porro? Assumenda non distinctio dignissimos blanditiis sit impedit, saepe eos officiis eligendi
    nobis, laudantium aliquam, illum tempore ducimus magnam perspiciatis. Totam velit, a accusantium aut labore neque
    repudiandae, laudantium earum beatae dolorem vero recusandae fugit quo voluptatum?</p>